

@font-face {
    font-family: 'bitwise';
    src: url('bitwise-webfont.eot');
    src: url('bitwise-webfont.eot?#iefix') format('embedded-opentype'),
         url('bitwise-webfont.woff2') format('woff2'),
         url('bitwise-webfont.woff') format('woff'),
         url('bitwise-webfont.ttf') format('truetype'),
         url('bitwise-webfont.svg#bitwiseregular') format('svg');
    font-weight: normal;
    font-style: normal;

}